@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
span {
  cursor: default;
}
.main {
  padding: 15px;
  cursor: pointer;
}
.grayColor {
  color: #02152680;
  top: 2px;
  left: 3px;
  height: 20px;
  width: 20px;
}
.text {
  color: #021526;
  width: 334px;
  height: 34px;
  line-height: 33.6px;
  size: 28px;
  font-family: "Fira Sans";
}

.svgImg {
  height: 24px;
  width: 24px;
}
.center {
  display: flex;
  align-items: center;
  gap: 32px;
}
.imageConteiner {
  width: 100%;
  height: 307px;
  border-radius: 14px 14px 0 0;
  text-align: center;
}

.tag {
  position: absolute;
  margin-bottom: 75%;
}
.sold {
  position: absolute;
  margin: 15px;
  background-color: #02152680;
  padding: 6px;
  border-radius: 15px;
  gap: 10px;
  color: white;
  width: 90px;
  height: 20px;
  text-align: center;
}
.conteiner {
  align-items: center;
  padding: 20px;
}
.textConteiner {
  padding: 10px;
}
.secTextConeiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.houseAddress {
  font-family: "fira Go";
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;
}
.decoration {
  display: flex;
  gap: 5px;
}
.price {
  padding-bottom: 15px;
}
.address {
  display: flex;
  gap: 5px;
}
