@font-face {
  font-family: "helvetica neue";
  src: url(../Fonts/Download_Folder_FiraGO_1001/Fonts/Helvetica/HelveticaBlkIt.ttf);
}
.textCss {
  font-family: "Fira GO";
  font-weight: 400;
  line-height: 16.8px;
  size: 14px;
  width: 58px;
  height: 17px;
  left: 24px;
}

.roundOptins {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.header {
  font-family: "helvetica neue", sans-serif;
  size: 16px;
  line-height: 19.54px;
  font-weight: 700;
}
input[type="radio"] {
  accent-color: #021526;
}
