@font-face {
  font-family: "Fira GO";
  src: url(../Fonts/Download_Folder_FiraGO_1001/Fonts/FiraGO_OTF_1001/Roman/FiraGO-Book.otf);
}

* {
  font-family: "Fira GO";
}
h3 {
  font-family: "Helvetica-neue";
}
.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.conteiner > section {
  padding: 15px;
}
.transaction {
  width: 800px;
}
.btnConteiner {
  width: 800px;
  display: flex;
  justify-content: end;
}
.btn {
  font-family: "Fira go", serif;
  border: 1px solid #f93b1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  height: 33px;
  width: 77px;
  color: #f93b1d;
  font-weight: 500;

  cursor: pointer;
  font-size: 16px;
  gap: 2px;
  font-weight: 700;
}
.secBtn {
  font-family: "Fira GO", serif;
  background-color: #f93b1d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid #f93b1d;
  align-items: center;
  height: 49px;
  margin-left: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  gap: 2px;
  font-weight: 700;
}
